<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <style>
       th {
           text-align: left
       }
   </style>
</head>

<body>
   <h2>Thank you for purchase. Order Confirmed</h2>
   <ul>
       <li>Order#
           <%= @order.id %>
       </li>
       <li>Ordered by
           <%= @order.email %>
       </li>
   </ul>
   <table>
     <thead>
       <th></th>
       <th>Item</th>
       <th>Quantity</th>
       <th>Item Total</th>
     </thead>
     <tbody>
       <% @order.line_items.each do |li| %>
           <%= render "line_items/line_item", line_item: li %>
       <% end %>
     </tbody>
   </table>
   <h4>Order total: <%= @order_total %> </h4>
</body>

</html>